<DOCTYPE>
<html>
<head>
	<title>Kota Solok</title>
    <link rel="stylesheet" href="themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/bar/bar.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="js/nivo-slider.css" type="text/css" media="screen" />
	<script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
	<script src="js/jquery.nivo.slider.js" type="text/javascript"></script>
</head>
<body>
	<div id="wraper"> 
		<div id="header-bg">
			<div class="top-menu"></div>
			<div class="box-logo">
			<div class="logo">
			<img src="images/logo.png">
			</div>
			<div class="clear"></div>
			<div class="name-logo">
				<h2>BAPPEDA SOLOK</h2>
				<div class="clear"></div>
				<h3>BADAN PERENCANAAN PEMBANGUNAN DAERAH
				KOTA SOLOK</h3>
			</div> 
			</div>
			<div class="foto"><img src="images/foto.png"> </div>

		</div>
		<div id="bodi-bg">
			
			<div class="sparator">
				<img src="images/sparator.png">
			</div>			
			<div class="menu-box">
				<div class="menu">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Profil</a></li>
						<li><a href="">Agenda</a></li>
						<li><a href="">Data & Informasi</a></li>
						<li><a href="">Berita</a></li>
						
					</ul>
				</div>
				<div class="search">
					<input type="text">
						<span class="img-box">
							<img width="12px;" src="images/search.png">
						</span>
				</div>
			</div>
			<div class="clear"></div>
			<div id="slide-nivo">
			<div class="sparator-btm">
				<img src="images/sparator-btm.png" style="margin:0 auto;" width="960" height="7px">
			</div>

		        <div class="slider-wrapper theme-default">
		            <div id="slider" class="nivoSlider">
		                <img src="images/images.jpg" alt="" />
		                 <img src="images/walikota.jpg" alt="" />
		                  <img src="images/taruna.jpg" alt="" />
		                   <img src="images/upacara.jpg" alt="" />
		            </div>
		            <span class="shadowHolderflat"><img src="images/big-shadow5.png" alt=""></span>
		            <div id="htmlcaption" class="nivo-html-caption">
		             
		            </div>
		        </div>
			</div>
	 	<div class="sep_lines"></div><!-- separator line -->
	    <div class="promo-box">
            <p>Selamat datang di website Bappeda Kota Solok <br></p>      
        </div>  
        <div class="clear"></div>
        <div class="kolom-left"></div>

        <div class="box-kolom-midle">
        	<div class="kolom-midle">
        		<div class="title-kolom-midle"><p>BERITA</p></div>
        		<div class="clear"></div>
        		<div class="date">Sept 14<sup>th</sup> 2011</div>
        		<p>
        			Lorem ipsum dolor sit amet, consectetur adipiscing sit ipsum dolor sit
        		</p>
        		<a style="color:#ff0000"href="#">Selengkapnya</a>
        		<span><br>................................................................................</span>
        		<div class="date">Sept 14<sup>th</sup> 2011</div>
        		<p>
        			Lorem ipsum dolor sit amet, consectetur adipiscing sit ipsum dolor sit
        		</p>
        		<a style="color:#ff0000"href="#">Selengkapnya</a>
        		<span><br>................................................................................</span>
        		<div class="date">Sept 14<sup>th</sup> 2011</div>
        		<p>
        			Lorem ipsum dolor sit amet, consectetur adipiscing sit ipsum dolor sit
        		</p>
        		<a style="color:#ff0000"href="#">Selengkapnya</a>
        		
        	</div>
        	<div class="line-kolom"></div>
        	<div class="kolom-midle">
        		<div class="title-kolom-midle"><p>AGENDA</p></div>
        		
        		<div class="clear"></div>
        		<div class="date">Sept 14<sup>th</sup> 2011</div>
        		<p>
        			Lorem ipsum dolor sit amet, consectetur adipiscing sit ipsum dolor sit
        		</p>
        		<a style="color:#ff0000"href="#">Selengkapnya</a>
        		<span><br>................................................................................</span>
        		<div class="date">Sept 14<sup>th</sup> 2011</div>
        		<p>
        			Lorem ipsum dolor sit amet, consectetur adipiscing sit ipsum dolor sit
        		</p>
        		<a style="color:#ff0000"href="#">Selengkapnya</a>
        		<span><br>................................................................................</span>
        		<div class="date">Sept 14<sup>th</sup> 2011</div>
        		<p>
        			Lorem ipsum dolor sit amet, consectetur adipiscing sit ipsum dolor sit
        		</p>
        		<a style="color:#ff0000"href="#">Selengkapnya</a>
        	</div>
        </div>

	</div>
	<div class="kolom-right">
		<img src="images/iklan.png">
	</div>
	<div class="clear"></div>
	<div class="sparator-btm" style="margin-top:0px;">
		<img src="images/sparator-btm.png" style="margin:0 auto;" width="960" height="7px">
	</div>
	<div class="bg-btm">
		<div class="box-link">
			<p>LINK</p>
		</div>
	</div>
	<div class="clear"></div>
	<div class="footer">
		<p>Copyright Bappeda Kota Solok</p><span>Footer Menu</span>
	</div>
</div>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
</body>
</html>